* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 50px 0 50px 0;
    font-size: 38px;
}

.title .title__red {
    color: rgb(255, 106, 106);
    font-style: italic;
}

.timer {
    display: flex;
    border: 2px solid #eeeeee;
    padding: 10px 20px;
}

.timer-num {
    font-size: 48px;
}

.timer-days {
    margin-right: 10px;
}